.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #5195D5;
  height: 150px;
  padding: 20px;
  color: white;
  height:30%;
  text-align:center;
}

.App-title {
  font-size: 6em;
}

.App-intro {
  font-size: large;
}

.inputHandler {
  max-width: 20%;
  border-style:none;
  background-color:transparent;
}

.options-table {
  margin-top:20px;
}

.input-button {
  float:left;
}

.new-url {
  text-align:center;
  font-size: 1.5em;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
