.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App {
  background-color:white;
}

.App-header {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  height:30%;
  text-align:center;
  margin-top:0px;
}

.App-title {   
  font-family: 'Comfortaa', cursive;
  font-size:6em;
  margin-top:0px;
}

.header-link {
  color:white;
}

.app-header-description {
  font-size:1.3em;
}

.App-intro {
  font-size: large;
  margin-top:20px
}

.inputHandler {
  max-width: 20%;
  border-style:none;
  background-color:transparent;
  text-align:center;
}

.options-table {
  margin-top:20px;
}

.input-button {
  float:left;
}

.popover {
  font-size:10px;
  color:#2e3b51;
}

.popover-title {
  background: repeating-linear-gradient(
  45deg,
  #363795,
  #363795 10px,
  #005C97 10px,
  #005C97 20px
);
color:white
}

.tableLayout-wrapper {
  align-content: center;
  margin-left:3em;
  margin-right:3em;
  margin-bottom:5em;
}

.header-input {
  text-align:center;
  border-style:none;
}

.Footer {
  height: 10%;
  background: #EFEFBB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.footer-text {
  margin-top:20px;
  margin-bottom:20px;
}

.link-category-title {
  font-size:1.5em
}

.link-list-item {
  text-align: left;
  vertical-align: top;
}

.link-list-link {
  margin-top:2000px;
}

.links-table-header {
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:white
}

.new-url {
  text-align:center;
  font-size: 1.5em;
  margin-top: 10px;
}
